<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status do Pedidos</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script type="text/javascript">
        const id_pedido = "{{id_pedido}}";

        function salvar() {
            if (!validar()) return;
            document.getElementById("form_principal").submit();
        }

        function excluir() {
            if (!confirm("Você tem certeza?")) return;
            xhr = new XMLHttpRequest();
            xhr.open('DELETE', '/pedido/' + id_pedido);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                if (xhr.readyState !== 4) return;
                if (xhr.status === 200 || xhr.status === 404) {
                    document.open();
                    document.write(xhr.responseText);
                    document.close();
                } else {
                    alert('Erro ' + xhr.status);
                }
            };
            xhr.send();
        }
    </script>
</head>

<body>

    <form class="form-horizontal" method="POST" action="/pedido/{{id_pedido}}/" id="form_principal">
        {% if id_pedido != 'novo'%}
        <p>
            <label>Status do Pedido:</label> {{id_pedido}}
        </p>
        {% endif %}
        <!-- Form Name -->
        <legend>Cadastro de Pedidos</legend>
        <!-- Text input-->
        {% if id_pedido == 'novo' %}
        <div class="form-group">
            <label class="col-md-4 control-label" for="id_cliente">Cliente:</label>
            <div class="col-md-2">
                <select class="form-control" name="id_cliente" id="id_cliente">
                {% for cliente in clientes %}                    
                    <option value="{{cliente['id_cliente']}}" {% if id_cliente == cliente['id_cliente'] %}selected="selected"{% endif %}>{{cliente['id_cliente']}}</option>
                {% endfor %}
            </select>
            </div>
        </div>
        {% endif %}

        <div class="form-group">
            <label class="col-md-4 control-label" for="status">Status</label>
            <div class="col-md-2">
                <input id="status" name="status" type="text" placeholder="" class="form-control input-md" value="{{status}}">
            </div>
        </div>
        
        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="btnsalvar"></label>
            <div class="col-md-8">
                <button type="submit" id="btnsalvar" name="btnsalvar" class="btn btn-primary" onclick="salvar()">Salvar</button> 
                {% if id_pedido != 'novo' %}
                <button type="button" id="btnexcluir" name="btnexcluir" class="btn btn-primary" onclick="excluir()">Excluir</button>
                {% endif %}
                <a id="btncancelar" name="btncancelar" class="btn btn-danger" href="/menu">Cancelar</a>

            </div>
        </div>
    </form>
    {% if id_pedido != 'novo' %}
    <form action="/pedido/{{id_pedido}}" id="delt" method="DELETE" style="display: none"></form>
    {% endif %}
</body>

</html>