<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pedidos</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script type="text/javascript">
        const id_pedido = "{{id_pedido}}";

        function validar() {
            const datahora = document.getElementById('datahora');
            const status = document.getElementById('status');

            if (datahora.value == "") {
                alert("Informe a data!");
                return false;
            }

            if (status.value == "") {
                alert("Selecione o status!");
                return false;
            }

            return true;
        }

        function salvar() {
            if (!validar()) return;
            document.getElementById("form_principal").submit();
        }

        function excluir() {
            if (!confirm("Você tem certeza?")) return;
            xhr = new XMLHttpRequest();
            xhr.open('DELETE', '/pedido/' + id_pedido);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                if (xhr.readyState !== 4) return;
                if (xhr.status === 200 || xhr.status === 404) {
                    document.open();
                    document.write(xhr.responseText);
                    document.close();
                } else {
                    alert('Erro ' + xhr.status);
                }
            };
            xhr.send();
        }
    </script>
</head>

<body>

    <form class="form-horizontal" action="/pedido/{{id_pedido}}/" method="POST" id="form_principal">
        {% if id_pedido != 'novo'%}
        <p>
            <label>Numero do Pedido:</label> {{id_pedido}}
        </p>
        {% endif %}
        <!-- Form Name -->
        <legend>Cadastro de Pedidos</legend>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="cliente">Cliente</label>
            <div class="col-md-2">
                <select name="id_cliente" id="cliente">
                <option value="escolha">Escolha...</option>
                    {% for cliente in clientes %}
                        <option value="{{cliente['id_cliente']}}" {% if id_cliente == cliente['id_cliente'] %}selected="selected"{% endif %}>{{cliente['nome']}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="produto">Produto</label>
            <div class="col-md-2">
                <select name="id_produto" id="produto">
                <option value="escolha">Escolha...</option>
                    {% for prdotuo in produtos %}
                        <option value="{{Produto['id_produto']}}" {% if id_produto == produto['id_produto'] %}selected="selected"{% endif %}>{{produto['descricao']}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="preco">Data</label>
            <div class="col-md-2">
                <input id="datahora" name="datahora" type="datetime" placeholder="" class="form-control input-md" value="{{datahora}}">

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="status">Status</label>
            <input type="radio" id="status_pago" name="status" value="Ok" {% if status=='Ok' %}checked="checked" {% endif %}>Pedido Pago</input>
            <input type="radio" id="status_pendente" name="status" value="Pendente" {% if sexo=='Pendente' %}checked="checked" {% endif %}>Pedido Pendente</input>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="btnsalvar"></label>
            <div class="col-md-8">
                <button type="button" id="btnsalvar" name="btnsalvar" class="btn btn-primary" onclick="salvar()">Salvar</button> {% if id_pedido != 'novo' %}
                <button type="button" id="btnexcluir" name="btnexcluir" class="btn btn-primary" onclick="javascript:excluir();">Excluir</button> {% endif %}
                <a id="btncancelar" name="btncancelar" class="btn btn-danger" href="/menu">Cancelar</a>

            </div>
        </div>
    </form>
    {% if id_pedido != 'novo' %}
    <form action="/pedido/{{id_pedido}}" id="delt" method="DELETE" style="display: none"></form>
    {% endif %}
</body>

</html>