<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status do Pedidos</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script type="text/javascript">
        const id_pedido = "{{id_pedido}}";

    </script>

</head>

<body>

    <form class="form-horizontal" method="POST" action="/pedido/novo/" id="form_principal">
        {% if id_pedido != 'novo'%}
        <p>
            <label>Cadastro de Pedidos:</label> {{id_pedido}}
        </p>
        {% endif %}
        <!-- Form Name -->
        <legend>Cadastro de Pedidos</legend>
        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-4 control-label" for="cliente">Cliente:</label>
            <div class="col-md-2">
                <select class="form-control" name="cliente" id="cliente">
                {% for cliente in clientes %}                    
                    <option value="{{cliente['id_cliente']}}" {% if id_cliente == cliente['id_cliente'] %}selected="selected"{% endif %}>{{cliente['nome']}}</option>
                {% endfor %}
            </select>
            </div>
        </div>

        
        <div class="form-group">
            <label class="col-md-4 control-label" for="pedido">Pedido</label>
            <div class="col-md-2">
                <textarea name="pedido" id="pedido" style="width:100%;height:100px;" wrap="off" cols="30" rows="5" placeholder="Id do Produto, Quantidade"></textarea>
            </div>
        </div>
        
        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="btnsalvar"></label>
            <div class="col-md-8">
                <button type="submit" id="btnsalvar" name="btnsalvar" class="btn btn-primary" onclick="salvar()">Salvar</button> 
                <a id="btncancelar" name="btncancelar" class="btn btn-danger" href="/menu">Cancelar</a>

            </div>
        </div>
    </form>
</body>

</html>