<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8" />
    <title>Registrar usuário</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<script type="text/javascript">
    const id_usuario = "{{id_usuario}}";
    
    function validar() {
        const email = document.getElementById('email')
        const senha = document.getElementById('senha');
        const usuario = document.getElementById('usuario');
        /*if (!email.value.match('^[a-z0-9.]+@[a-z0-9]+\.[a-z]+\.([a-z]+)?$')) {
                alert("Preencha o e-mail corretamente");
                return false;
            }*/
        
        if (usuario.value == "") {
            alert("Digite o nome de usuário");
            return false;
        }

        if (senha.value == "") {
            alert("Digite a senha.");
            return false
        }

        if (senha.value.length < 4) {
            alert("Sua senha deve conter mais que quatro dígitos");
            return false
        }
        return true;
    }

    function salvar() {
        if (!validar()) return;
        document.getElementById("login-form").submit();
    }

</script>


<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" method="POST" action ="/registrar/{{id_usuario}}/">
                            <h3 class="text-center text-dark">Cadastro</h3>
                            <div class="form-group">
                                <label for="email" class="text-dark">E-mail:</label><br>
                                <input type="text" name="email" id="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="usuario" class="text-dark">Usuário:</label><br>
                                <input type="text" name="usuario" id="usuario" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="senha" class="text-dark">Senha:</label><br>
                                <input href="/menu " type="password" name="senha" id="senha" class="form-control">
                            </div>
                            <div class="form-group">
                                <button type="button" id="btnsalvar" name="btnsalvar" class="btn btn-primary" onclick="salvar()">Salvar</button> 
                                <a id="btncancelar" name="btncancelar" class="btn btn-dark" href="/">Cancelar</a>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>